body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn 2s ease-in-out;
}

.Wel {
    font-size: 2.5em;
    padding: 0px 10px;
    margin-bottom: 20px;
    animation: slideIn 1.5s ease-out;
}

.pro {
    font-size: 2.2em;
    margin-bottom: 30px;
    padding: 0px 10px;
    animation: fadeIn 2.5s ease-in-out;
}

.Button {
    background-color: #ffffff;
    color: #2575fc;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.Button:hover {
    background-color: #6a11cb;
    color: white;
    transform: scale(1.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.together{
    font-style: italic;
    margin-top: 20px;
    animation: fadeIn 3s ease-in-out;
}
